:root {
  --background-color: #683576;
  --foreground-color: #fff;
  --accent-color: #f0c;
  --swap: #222;

  // @media (prefers-color-scheme: dark) {
  //   --swap: var(--foreground-color);
  //   --foreground-color: var(--background-color);
  //   --background-color: var(--swap);
  // }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

// BEGIN APP STYLES

body {
  --padding: 4em;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Sans-Serif;
  min-height: calc(100vh - 2 * var(--padding));
  padding: var(--padding) 0;
	line-height: 1;
  background-attachment: fixed;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #ff1843 200%);
}

#app {
  max-width: 80rem;
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  text-align: left;
}

h1, h2, h3, header {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -0.02em;
  // color: #ff65b2;
  // color: #b4e8ff;
}

h1 {
  font-size: clamp(3.3rem, 7vw, 7rem);
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: clamp(1.8rem, 5vw, 2.2rem);
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.3em;
  letter-spacing: 0;
}

h3 + p {
  margin-top: 0.5rem;
}

a {
  color: var(--foreground-color);
  transition: transform 0.1s ease, color 0.15s ease;
  text-decoration: underline;
  position: relative;
  display: inline-block;
}

p, ul, ol {
  margin: 0 0.5em 0 0;
  line-height: 1.5em;
  font-weight: lighter;
  opacity: 0.9;
}

p, ul, ol, blockquote {
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

ul, ol {
  padding: 0.5em 1em 1em 2em;

  &:last-child {
    padding-bottom: 0;
  }
}

li {
  font-weight: lighter;

  &:not(:last-child) {
    margin-bottom: 0.3em;
  }
}

blockquote {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: -0.01em;
  font-size: 1.7em;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.3em;
  border-left: 0.35rem solid #ccc;
  padding: 0.2em 1em 0.2em 1em;

  > p:first-child {
    display: inline-block;
  }
}

blockquote:before {
  font-family: serif;
  content: open-quote;
  opacity: 0.5;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
  margin-left: -0.1em;
}

blockquote:after {
  content: no-close-quote;
}

hr {
  border: none;
  border-bottom: 1px solid var(--foreground-color);
  opacity: 0.2;
  margin: 2em 0;
}

main.page {
  display: flex;
  flex-flow: column;

  > * {
    margin-bottom: 3em;
  }
}

main.layout {
  --padding: 5em;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 0 1em;
  position: relative;
  padding: 0 var(--padding);
  opacity: 1;
  text-align: center;

  @media (max-width: 50em) {
    --padding: 7vw;
  }

  & > section {
    padding: 2em 0 3em;
    height: auto;
    overflow: hidden;
    display: block;
    text-align: left;
    border-bottom: 1px solid var(--foreground-color);

    &:empty {
      outline: none;
      height: 0;
      border-bottom: none;
    }
  }
}

.only-users {
  display: none;
}
